@import "_variables.styl"
@import "_ui.styl"
@import "_fonts.styl"

font-size = 14px  


body
  min-width 320px
  -webkit-font-smoothing antialiased
  overflow-x hidden
  font-family 'Montserrat', sans-serif
  font-size 14px
	

h1,h2,h3,h4,h5,h5
  font-family: 'Lora', sans-serif

h3
  color gray 
  
.wrapper
  max-width: 1340px
  margin: 0 auto

.content-container
  max-width: 1200px
  margin: 0 auto

.container 
  margin: 0
  padding: 20px
  box-sizing: border-box
  width: auto

.px-2-sm
  @media $media_sm
    padding 20px

.px-0-lg
  @media $media_lg
    padding 0

.max-xs-item-2
  @media $media_xs_max
    & > *:nth-child(1n+3)
      display none

.max-xs-item-3
  @media $media_xs_max
    & > *:nth-child(1n+4)
      display none

.max-sm-item-2
  @media $media_sm_max
    & > * 
      display initial
      
    & > *:nth-child(1n+3)
      display none

.max-sm-item-4
  @media $media_sm_max
    & > * 
      display initial
      
    & > *:nth-child(1n+5)
      display none

.max-md-item-3
  @media $media_md_max
    & > *:nth-child(1n+4)
      display none

.max-lg-item-3
  @media $media_lg
    & > *:nth-child(1n+4)
      display none

.max-lg-item-4
  @media $media_lg
    & > *:nth-child(1n+5)
      display none


.max-lg-item-9
  @media $media_lg
    & > *:nth-child(1n+10)
      display none

.col-gap-4-sm
  @media $media_sm
    margin-right: -2rem
    margin-left: -2rem

    .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-offset-0, .col-sm-offset-1, .col-sm-offset-2, .col-sm-offset-3, .col-sm-offset-4, .col-sm-offset-5, .col-sm-offset-6, .col-sm-offset-7, .col-sm-offset-8, .col-sm-offset-9, .col-sm-offset-10, .col-sm-offset-11, .col-sm-offset-12,
    .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-offset-0, .col-md-offset-1, .col-md-offset-2, .col-md-offset-3, .col-md-offset-4, .col-md-offset-5, .col-md-offset-6, .col-md-offset-7, .col-md-offset-8, .col-md-offset-9, .col-md-offset-10, .col-md-offset-11, .col-md-offset-12,
    .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-offset-0, .col-lg-offset-1, .col-lg-offset-2, .col-lg-offset-3, .col-lg-offset-4, .col-lg-offset-5, .col-lg-offset-6, .col-lg-offset-7, .col-lg-offset-8, .col-lg-offset-9, .col-lg-offset-10, .col-lg-offset-11, .col-lg-offset-12
      padding-right: 2rem
      padding-left: 2rem

.col-gap-3-sm
  @media $media_sm
    margin-right: -1.25rem
    margin-left: -1.25rem

    .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-offset-0, .col-sm-offset-1, .col-sm-offset-2, .col-sm-offset-3, .col-sm-offset-4, .col-sm-offset-5, .col-sm-offset-6, .col-sm-offset-7, .col-sm-offset-8, .col-sm-offset-9, .col-sm-offset-10, .col-sm-offset-11, .col-sm-offset-12,
    .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-offset-0, .col-md-offset-1, .col-md-offset-2, .col-md-offset-3, .col-md-offset-4, .col-md-offset-5, .col-md-offset-6, .col-md-offset-7, .col-md-offset-8, .col-md-offset-9, .col-md-offset-10, .col-md-offset-11, .col-md-offset-12,
    .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-offset-0, .col-lg-offset-1, .col-lg-offset-2, .col-lg-offset-3, .col-lg-offset-4, .col-lg-offset-5, .col-lg-offset-6, .col-lg-offset-7, .col-lg-offset-8, .col-lg-offset-9, .col-lg-offset-10, .col-lg-offset-11, .col-lg-offset-12
      padding-right: 1.25rem
      padding-left: 1.25rem

.col-gap-4-lg
  @media $media_lg
    margin-right: -2rem
    margin-left: -2rem

    .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-offset-0, .col-sm-offset-1, .col-sm-offset-2, .col-sm-offset-3, .col-sm-offset-4, .col-sm-offset-5, .col-sm-offset-6, .col-sm-offset-7, .col-sm-offset-8, .col-sm-offset-9, .col-sm-offset-10, .col-sm-offset-11, .col-sm-offset-12,
    .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-offset-0, .col-md-offset-1, .col-md-offset-2, .col-md-offset-3, .col-md-offset-4, .col-md-offset-5, .col-md-offset-6, .col-md-offset-7, .col-md-offset-8, .col-md-offset-9, .col-md-offset-10, .col-md-offset-11, .col-md-offset-12,
    .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-offset-0, .col-lg-offset-1, .col-lg-offset-2, .col-lg-offset-3, .col-lg-offset-4, .col-lg-offset-5, .col-lg-offset-6, .col-lg-offset-7, .col-lg-offset-8, .col-lg-offset-9, .col-lg-offset-10, .col-lg-offset-11, .col-lg-offset-12
      padding-right: 2rem
      padding-left: 2rem

/* text alignment */
.text-start   { text-align: start }
.text-center  { text-align: center }
.text-end  { text-align: end }

.pre-line
  white-space: pre-line

.vertical-container 
  padding: 20px 0

.horizontal-container
  padding: 0 20px


.bg-hero
  min-height 416px
  display: flex
  align-items: flex-end


.sticky-footer-container
  display: flex
  min-height: 100vh
  flex-direction: column

.content 
  flex: 1
  width: 100%

.text-upper
  text-transform: uppercase

.tc-white
  color: #fff
  
.width-100
  width 100%

.height-100
  height 100%
  
.fill
  width 100%
  height 100%

.align-center
  display flex
  justify-content center
  align-items center

.weight-300
  font-weight: 300

.admin-page
  max-width: none
  padding-left: 280px
  box-sizing: border-box
  margin: 0
  position: relative

  [class^='col-'] {
    padding: 0 0.5rem
  }

  .row {
    margin-right: -1rem
    margin-left: -1rem
  }
  .card
    position: relative
    display: -ms-flexbox
    display: flex
    -ms-flex-direction: column
    flex-direction: column
    min-width: 0
    word-wrap: break-word
    background-clip: border-box
    border: 1px solid rgba(0,0,0,.125)
    border-radius: .25rem
    background: #fff
    margin-bottom: 30px
    padding: 20px 30px
    
.card-container
  padding: 15px 20px

  .list
    margin-top: 20px
    margin-bottom: 20px

.card 
  .card-title
    margin: 0
    color: #333
    font-weight: 300
    font-family: 'Montserrat', sans-serif
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    span 
      line-height: 30px;
  h4
    font-size 22px
    line-height: 30px

  .caption
    font-size: 14px
    font-weight: 400
    color: #9a9a9a
    margin: 0
    line-height: 1.5


.color-background
  background: #50a3a2
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%)

.btn
  border-width: 2px
  background-color: transparent
  font-weight: 400
  opacity: .8
  padding: 8px 16px
  border-color: #888
  color: #888
  cursor pointer

.ui-error
  color: $c_error;
  line-height: 1.5em;

.trix-content {
  min-height: 200px;
}

.tabs-component {
  width: 100%;

  &-tabs {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0 -10px;
    padding-bottom: 20px;
  }

  &-tab {
    color: $c_primary;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid;
    margin: 0 10px;

    &.is-active {
      color: $c_accent;
    }

    a {
      color:inherit;
      text-transform: uppercase;
    }
  }
}